.center {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 39%;
}

.margin_top {
  margin-top: 30px;
  width: 200px;
}

img {
  width: 300px;
}

.cor_caixa {
  padding-top: 10px;
  margin: 0;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 21px;
  margin-top: 20px;
  text-align: justify;
  font-weight: bold;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 15px;
  text-align: justify;
}

.atendimento {
  margin-top: 10px;
  border-radius: 10px;
  background-color: #FF7600;
  font-family: 'Montserrat', sans-serif;
  text-transform: lowercase;
  width: 180px;
  font-size: 21px;
}

.alinhamento-logo {
  text-align: left;
}

.anydesk {
  color: white;
    border-bottom: double;
    font-size: 15px;
}
