.center {
  position: absolute;
  transform: translate(-50%, -50%);
  /* left: 50%;
  top: 40%; */
  left: 70%;
  top: 87%;
}

.facebook {
  background-image: url('../assets/images/facebook.png');
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 30px;
  /* filter: invert(1); */
}

.youtube {
  background-image: url('../assets/images/social-youtube.png');
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 30px;
  /* filter: invert(1); */
}

.linkedin {
  background-image: url('../assets/images/social-linkedin.png');
  background-size: cover;
  background-position: center;
  width: 30px;
  height: 30px;
  /* filter: invert(1); */
}

.margin_top {
  margin-top: 30px;
  width: 200px;
}

img {
  width: 800px;
}

.cor_caixa {
  /* background-color:#01A6AE; */
  padding-top: 10px;
  margin: 0;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  margin-top: 20px;
  text-align: justify;
  font-weight: bold;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-align: justify;
}

.atendimento {
  margin-top: 10px;
  border-radius: 10px;
  background-color: #FF7600;
  font-family: 'Montserrat', sans-serif;
  text-transform: lowercase;
  width: 180px;
  font-size: 21px;
}
